/*start Variables*/
:root{
    --heading-color: #333;
    --secondary-color: #767676;
    --main-color: #04ddb2;
}
/*end Variables*/
/*start Global*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "open sans";
}
.download{
    background-color: var(--main-color);
    padding: 12px 22px;
    border-radius: 40px;
    font-weight: 700;
    color: #fff;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: -15px;
    margin-left: 24px;
}
header nav .logo h2{
    font-size: 1.7rem;
    letter-spacing: -1px;
    color: var(--heading-color);
    margin-right: 5px;
}
.logo::after{
    content: "";
    width: 14px;
    height: 14px;
    background-color: rgba(243, 71, 71, 0.9);
    position: relative;
    border-radius: 25%;
    bottom: -4px;
    right: -10px;
}
.logo::before{
    content: "";
    width: 14px;
    height: 14px;
    background-color: var(--main-color);
    position: relative;
    border-radius: 25%;
    bottom: 4px;
    right: -76px;
}
/*end Global*/
/*start HEADER*/
header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    padding: 0 40px;
    z-index: 1000;
}
header nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}
header nav i.menu{
    display: none;
    order: 3;
}
.menu-list{
    width: 100%;
    display: flex;
    justify-content: center;
}
header nav ul{
    width: 38%;
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    left: -55px;
}
header nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--secondary-color);
    margin: 0 24px;
    font-weight: 600;
    font-size: 1.05rem;
}
header nav ul li a.active{
    color: var(--heading-color);
}
header nav ul li:last-of-type{
    position: absolute;
    right:  -93%;
}
@media (max-width: 1200px) {
    header{
        padding: 0 20px;
    }
    header nav .logo,
    header nav ul li:last-of-type a.download{
        margin: 0;
    }
    header nav ul{
        left: -50px;
    }
    header nav ul li a{
        margin: 0 20px;
    }
}
@media (max-width: 800px) {
    header{
        padding: 0 32px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    header nav i.menu{
        display: flex;
        z-index: 3;
        left: -10px;
        position: relative;
        background-color: #eef0f2;
        border-radius: 50%;
        padding: 10px 10px;
    }
    .menu-list ul{
        display: none;
    }

    header nav i:hover + .menu-list ul{
        display: flex;
    }
    header nav ul{
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
    }
    header nav ul li:first-of-type{
        padding: 30px 31px 20px 0;
    }
    header nav ul li{
        padding:20px 32px !important;
        position: relative;
        left: -32px;
        width: calc(100% + 64px);
        background-color: rgba(255, 255, 255, 0.8) !important;
        backdrop-filter: blur(20px) !important;
    }
    header nav ul li:last-of-type{
        position: relative;
        right:  0;
        padding: 0;
    }
    header nav ul li a{
        margin-left: 0;
        line-height: 1.2;
        font-size: 1.2rem;
        width: 100%;
    }
    header nav ul li:last-of-type a.download{
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 37px;
        margin-bottom: 32px;
    }
}   

/*end HEADER*/

/*start ABOUT*/
.about{
    padding: 130px 64px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about .text{
    max-width: 550px;
    padding-bottom: 50px;
}
.about .text h2{
    font-size: 3.8rem;
    color: var(--heading-color);
    margin-bottom: 20px;
    font-weight: 700;
}
.about .text span{
    color: var(--main-color);
}
.about .text p{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--heading-color);
    line-height: 1.5;
}
.about .video{
    position: relative;
}
.about .video::after{
        /*add an icont*/
        font-family:"font awesome 5 free";
        content: '\f04b';
        font-weight: 900;
        background-color: rgba(0, 0, 0, 0.07);
        color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(20px);   
        position: absolute;
        padding: 30px 45px;
        font-size: 2rem;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.about video{
    width: 950px;
    height: auto;
    background-color: #e8edf0;
    padding: 60px 100px;
    border-radius: 24px;
}
@media (max-width: 991px) {
    .about video{
        width: 700px;
        padding: 40px 80px;
    }
}
@media (max-width: 650px) {
    .about .text{
        max-width: 450px;
    }
    .about .text h2{
        font-size: 2rem;
    }
    .about .text p{
        font-size: 1rem;
    }
    .about video{
        width: 500px;
        padding: 20px;
    }
}
@media (max-width: 481px) {
    .about .text{
        max-width: 420px;
    }
    .about video{
        width: 350px;
        padding: 10px;
    }
}
@media (max-width: 320px) {
    .about video{
        width: 250px;
        padding: 5px;
    }
}
/*end ABOUT*/

/*start APP*/
.app{
    padding: 80px 64px;
    line-height: 1.1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app h2{
    font-size: 4rem;
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: 60px;
    letter-spacing: -4px;
    max-width: 500px;
}
.app a.download{
    font-size: 1.2rem;
    text-decoration: none;
    padding: 12px 35px;
}
@media (max-width: 481px) {
    .app{
        padding: 0 32px;
    }
    .app h2{
        font-size: 2.5rem;
        letter-spacing: -1px;
        margin-bottom: 40px;
        max-width: 350px;
    }
}
@media (max-width: 320px) {
    .app{
        padding: 0 15px;
    }
}
/*start FOOTER*/
footer{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}
footer .links{
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
footer .links .box:first-child{
    position: relative;
    top: -20px;
}
footer .links .box ul{
    list-style: none;
}
footer .links .box li{
    margin-bottom: 24px;
}
footer .links .box li.special{
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 29px;
}
footer .links .box li a{
    text-decoration: none;
    color: black;
}
footer .links .icons {
    position: relative;
    top: 0;
    align-self: flex-start;
}
footer .links .icons i{
    font-size: 1rem;
    color: #fff;
    background-color: var(--main-color);
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
}
@media (max-width: 796px) {
    footer .links{
        padding: 60px 20px;
    }
    footer .links .icons {
        display: flex;
        flex-direction: column;
    }
    footer .links .icons i {
        font-size: 1.2rem;
        padding: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width: 650px) {
    footer .links{
        padding: 60px;
        text-align: center;
    }
    footer .links{
        width: 100%;
        height: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 40px;
        font-size: 0.9rem;
    }
    footer .links .box:first-child{
        order: 5;
        left: 60%;
    }    
    footer .links .box:first-child li.logo{
        left: 20%;
    }
    footer .links .box li.special{
        font-size: 0.9rem;
    }
    footer .links .icons i{
        width: 40px;
        position: relative;
        left: 45%;
    }
}
@media (max-width: 481px) {
    footer .links{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 20px;
        padding: 60px 20px;

    }
    footer .links .box:first-child{
        left: 0;
        margin-top: 20px;
    }    
}
@media (max-width: 481px) {
    footer{
        padding: 60px 20px;
    }
    footer .links{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 20px;
    }
    footer .links .box:first-child{
        left: 0;
        margin-top: 20px;
    }    
    footer .links .box:first-child li.logo{
        left: 5%;
    }
}
@media (max-width: 376px) {
    footer .links{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    footer .links .box:first-child{
        left: 0;
        margin-top: 20px;
    }    
    footer .links .icons {
        flex-direction: row;
        align-items: center;
        left: -20%;
    }
    footer .links .box:first-child li.logo{
        left:22%;
    }
}
/*end FOOTER*/